@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #f1f1f1;
  font-family: "HelveticaNeue-UltraLight";
}

h1 {
  color: black;
  text-align: center;
  font-family: "HelveticaNeue-UltraLight";
}

h2 {
  color: green;
  text-align: center;
  font-family: "HelveticaNeue-UltraLight";
}

.list-body {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  margin-top: 10px;
}
